$blue: #1469FF;
$purple: #0027C8;
$pink: #FF3C82;
$black: #000000;
$white: #ffffff;

h2 {
    font-size: 64px;
    font-weight: 700;
}
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
}
p {
    font-size: 20px;
}